
.cs-transition {
    transition: .5s !important;
}

.cs-w-brend {
    width: 120px !important;
}

/*Images*/
.cs-image {
    height: 500px !important;
}

/*Background*/
.cs-bg-one {
    background-color: #D8EFEF !important;
}

/*Buttons*/
.cs-btn:hover {
    background-color: #6c757d !important;
    color: white !important;
}