
.cs-transition {
    transition: .5s !important;
}

.cs-w-brend {
    width: 120px !important;
}

/*Images*/
.cs-image-h {
    height: 250px !important;
}

.cs-image-h-sec {
    height: 40px !important;
}

.cs-img {
    filter: brightness(0) saturate(100%) invert(91%) sepia(90%) saturate(4%) hue-rotate(121deg) brightness(107%) contrast(100%) !important;
}

/*Images*/
.cs-image {
    height: 500px !important;
}

/*Background*/
.cs-bg-one {
    background-color: #D8EFEF !important;
}

/*Buttons*/
.cs-btn:hover {
    background-color: #6c757d !important;
    color: white !important;
}