
.cs-transition {
    transition: .5s !important;
}

.cs-w-brend {
    width: 120px !important;
}

/*Images*/
.cs-image-h {
    height: 250px !important;
}

.cs-image-h-sec {
    max-height: 40px !important;
}

.cs-image-h-two-sec {
    max-height: 30px !important;
}

.cs-img {
    filter: brightness(0) saturate(100%) invert(91%) sepia(90%) saturate(4%) hue-rotate(121deg) brightness(107%) contrast(100%) !important;
}

/*Images*/
.cs-image {
    max-height: 500px !important;
}

/*Background*/
.cs-bg-one {
    background-color: #D8EFEF !important;
}

/*Buttons*/
.cs-nav-btn:hover {
    color: black !important;
}

.dropstart .dropdown-toggle::before {
    display: none !important;
}

.cs-btn:hover {
    background-color: #6c757d !important;
    color: white !important;
}

.cs-main-btn:hover {
    color: black !important;
    background-color: transparent !important;
}

.cs-footer-btn:hover {
    color: white !important;
    background-color: transparent !important;
}

.cs-footer-btn-2:hover {
    color: rgb(128, 128, 128) !important;
}

.cs-footer-btn-2:hover .cs-img {
    filter: brightness(0) saturate(100%) invert(51%) sepia(0%) saturate(301%) hue-rotate(180deg) brightness(99%) contrast(88%) !important;
}

.cs-footer-link:hover {
    color: white !important;
}

/*Scrolling*/
.cs-scroll {
  scroll-behavior: smooth; /* Enables smooth scrolling */
  scrollbar-width: thin; /* Firefox-specific */
  scrollbar-color: black transparent; /* Firefox: thumb and track colors */
  padding-bottom: 10px; /* Optional: space for scrollbar */
}

/* Chrome, Edge, Safari */
.cs-scroll::-webkit-scrollbar {
  height: 10px; /* Horizontal scrollbar height */
}

.cs-scroll::-webkit-scrollbar-track {
  background: transparent !important; /* Track color */
  border-radius: 0px;
}

.cs-scroll::-webkit-scrollbar-thumb {
  background: transparent; /* Thumb color */
  border-radius: 10px;
}

.cs-scroll::-webkit-scrollbar-thumb:hover {
  background: grey; /* Thumb hover color */
}

/*Font*/
.cs-fs-footer-btn {
    font-size: 12px !important;
}

/*Forms*/
.cs-fc:hover, .cs-fc:focus {
    border-color: black !important;
}

.cs-fc-footer::placeholder {
    color: grey !important;
}

.cs-fc-footer:hover, .cs-fc-footer:focus {
    border-color: white !important;
}